<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link href='/assets/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://github.com/themes/minimal/javascripts/scale.fix.js"></script>
	<link rel="icon"  type="image/png"   href="/assets/favicon.ico">
	
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>consider again <br> that  d<span style="font-size:66%"><a title="We Are Here: The Pale Blue Dot" href="http://www.youtube.com/watch?v=kjtuVvfRhHs"><i class="icon-globe icon-small"></i></a></span>t</h1>
		<div class="author">by Ryan Pavlick</div>

        <p class="view"><a href="https://github.com/rpavlick">Open Source Projects<small>forkable on Github</small></a></p>
        <!-- <p class="view"><a href="/speaking.html">Talks I've Given<small>On Technologies and Ideas</small></a></p> -->
        <p class="view"><a href="http://scholar.google.com/citations?user=ri-kHGYAAAAJ&hl=en">Publications<small>neatly sorted on Google Scholar</small></a></p>
	<p class="view"><a href="https://500px.com/ryanpavlick">Photos<small>a random sampling on 500px</small></a></p>
	


      </header>
      <section id="main">
        {{ content }}
      </section>
      <footer>      </footer>
    </div>
	
  </body>
</html>
